.menu {
  position: fixed;
  z-index: 991;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #C5C6D0;
  border-bottom: 1px solid #C5C6D0;
  background: #fff;
  box-sizing: border-box;
  padding: 8px 9px;
  display: none;
  &_row {
    display: flex;
    align-items: center;
    > div {
      width: 50%;
      padding: 11px 12px;
      text-align: center;
      &:last-child {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 40px;
          background: #C5C6D0;
        }
      }
    }
  }
  &_init {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    gap: 4px;
    color: #2A59BD;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .count {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    color: #8A90A5;
  }
  &_toggler {
    position: relative;
    cursor: pointer;
  }
}

@media (max-width: 1023px) {
  .menu {
    display: block;
  }
}
