.create-new-password {
  background: #F5F5F6;
  padding: 160px 0;
}
.create-new-password__block {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.06), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  margin: auto;
  overflow: hidden;
  min-width: 350px;
}
.create-new-password__header {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #FBF8FD;
  border-bottom: 1px solid #E4E2E6;
}
.create-new-password__title {
  color: #131316;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
  margin-bottom: 16px;
  text-align: center;
}
.create-new-password__text {
  color: #1B1B1F;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.create-new-password__form {
  padding: 20px;
  row-gap: 16px;
}
.create-new-password__form-block {
  column-gap: 12px;
}
.create-new-password__form .mdc-text-field__input {
  height: 18px;
  font-size: 24px;
}
.create-new-password__form .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #2A59BD;
}
.create-new-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #2A59BD;
}
.create-new-password__form .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #b00020;
}
.create-new-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #2A59BD;
}
.create-new-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .create-new-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
  border-color: #2A59BD;
}
.create-new-password__form .mdc-notched-outline__notch .mdc-floating-label::after {
  display: none;
}
.create-new-password__form .material-icons.mdc-text-field__icon.toggle-password {
  color: #919094;
  position: relative;
}
.create-new-password__form .material-icons.mdc-text-field__icon.toggle-password::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-color: #F2F1F7;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  right: -4px;
  top: -4px;
  opacity: 0;
}
.create-new-password__form .material-icons.mdc-text-field__icon.toggle-password:hover::before {
  opacity: 1;
}
.create-new-password__form .material-icons.mdc-text-field__icon.toggle-password-confirm {
  color: #919094;
  position: relative;
}
.create-new-password__form .material-icons.mdc-text-field__icon.toggle-password-confirm::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-color: #F2F1F7;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  right: -4px;
  top: -4px;
  opacity: 0;
}
.create-new-password__form .material-icons.mdc-text-field__icon.toggle-password-confirm:hover::before {
  opacity: 1;
}
.create-new-password__form .error-icon {
  background: #fff;
  color: #b00020;
  display: none;
  text-align: right;
  margin-right: 14px;
  margin-top: 14px;
}
.create-new-password__form-button {
  border: none;
  background-color: #2A59BD;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  padding: 14px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease
}
.create-new-password__form-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease
}
.create-new-password__error-message {
  display: none;
  color: #BA1A1A;
  padding-left: 16px;
  margin-top: -10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
.create-new-password__condition {
  color: #77777A;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  padding-left: 16px;
  margin-top: -10px;
}
@media ( max-width: 992px) {
  .create-new-password {
    padding: 80px 0;
  }
}
@media ( max-width: 576px) {
  .create-new-password {
    padding-top: 16px;
  }
  .create-new-password__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}
.create-new-password__success {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-new-password__success-image {
  width: 126px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #EEF0FF;
  margin-bottom: 20px;
}
.create-new-password__success-title {
  color: #131316;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  margin-bottom: 12px;
}
.create-new-password__success-subtitle {
  max-width: 360px;
  text-align: center;
  color: #77777A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  margin-bottom: 20px;
}
.create-new-password__success-button {
  border: none;
  background-color: #2A59BD;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  padding: 14px 54px;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease
}
.create-new-password__success-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease
}
@media ( max-width: 576px) {
  .create-new-password__success-title {
    font-size: 16px;
    line-height: 24px;
  }
  .create-new-password__success-button {
    width: 100%;
  }
}
input {
  background: transparent !important;
}
