.password-change {
  background: #F5F5F6;
  padding-top: 40px;
  padding-bottom: 250px;
}
.password-change__block {
  margin: auto;
}
.password-change .breadcrumb {
  margin-bottom: 12px;
}
.password-change .breadcrumb-block {
  background: inherit;
  padding-bottom: 0;
  border-bottom: none;
}
.password-change .breadcrumb-block > * + *::before {
  content: "·";
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
.password-change__title {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 20px;
  margin-left: -8px;
}
.password-change__title h1 {
  color: #131316;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
}
.password-change__title a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}
.password-change__title a:hover {
  background-color: #dddbeb;
}
.password-change__form-block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.06), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
.password-change__form .mdc-text-field__input {
  height: 18px;
  font-size: 24px;
}
.password-change__form .mdc-text-field {
  width: 100%;
}
.password-change__form .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #2A59BD;
}
.password-change__form .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #2A59BD;
}
.password-change__form .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label {
  color: #131316;
}
.password-change__form .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label {
  color: #b00020;
}
.password-change__form .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #b00020;
}
.password-change__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #2A59BD;
}
.password-change__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .password-change__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
  border-color: #2A59BD;
}
.password-change__form .mdc-notched-outline__notch .mdc-floating-label::after {
  display: none;
}
.password-change__form .material-icons.mdc-text-field__icon.toggle-password {
  color: #919094;
  position: relative;
}
.password-change__form .material-icons.mdc-text-field__icon.toggle-password::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-color: #F2F1F7;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  right: -4px;
  top: -4px;
  opacity: 0;
}
.password-change__form .material-icons.mdc-text-field__icon.toggle-password:hover::before {
  opacity: 1;
}
.password-change__form .error-icon {
  background: #fff;
  color: #b00020;
  display: none;
  text-align: right;
  margin-right: 16px;
  margin-top: 14px;
}
.password-change__form .error-message {
  display: none;
  color: #BA1A1A;
  padding-left: 16px;
  margin-top: -10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.password-change__form-condition {
  color: #77777A;
  padding-left: 16px;
  margin-top: -10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.password-change__form-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 16px;
}
.password-change__form-cancel {
  background-color: inherit;
  color: #2A59BD;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  text-align: center;
  padding: 14px 36px;
  border-radius: 100px;
  border: 1px solid #2A59BD;
  cursor: pointer;
  transition: all 0.3s ease;
}
.password-change__form-cancel:hover {
  background-color: #dddbeb;
  transition: all 0.3s ease;
}
.password-change__form-save {
  border: none;
  background-color: #2A59BD;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  padding: 14px 44px;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease
}
.password-change__form-save:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease
}
@media ( max-width: 575px ) {
  .password-change {
    padding-top: 24px;
  }
  .password-change__title {
    margin-bottom: 16px;
  }
  .password-change__form-block {
    padding: 16px;
  }
  .password-change__form-buttons {
    margin: 0;
  }
  .password-change__form-buttons button {
    width: 50%;
  }
}

.svg-ok {
  display: none;
}
.registration__condition {
  color: #77777A;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-left: 16px;
  margin-top: -10px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.registration__condition svg + span {
  margin-left: 4px;
}