.post-document-item {
  background-color: #f5f5f6;
  border-radius: 12px;
  padding: 4px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.post-document-item .post-document-item-format {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 126px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
}
.post-document-item .post-document-item-format::after {
  display: none;
}
.post-document-item .post-document-item-format:hover {
  background-color: #eef0ff;
}
.post-document-item .post-document-item-format .post-document-item-format-text {
  color: white;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: 10px;
}
.post-document-item .post-document-item-title {
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  cursor: pointer;
  color: #131316;
  text-align:center;
}
.post-document-item .post-document-item-title::after {
  display: none;
}
.post-document-item .post-document-item-title:hover {
  color: #2a59bd;
}
.post-document-item .post-document-item-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-top: 4px;
  color: #545f71;
  opacity: 0.4;
}
.post-document-row .col-6 {
  margin-bottom: 8px;
}