.recovery-password {
  background: #F5F5F6;
  padding: 160px 0;
}
.recovery-password__block {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.06), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  margin: auto;
  overflow: hidden;
  min-width: 350px;
}
.recovery-password__header {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #FBF8FD;
  border-bottom: 1px solid #E4E2E6;
}
.recovery-password__title {
  color: #131316;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
  margin-bottom: 16px;
  text-align: center;
}
.recovery-password__text {
  color: #1B1B1F;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.recovery-password__form {
  padding: 20px;
  row-gap: 16px;
}
.recovery-password__form-block {
  column-gap: 12px;
}
.recovery-password__form .mdc-text-field__input {
  height: 18px;
  font-size: 24px;
}
.recovery-password__form .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #2A59BD;
}
.recovery-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #2A59BD;
}
.recovery-password__form .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #b00020;
}
.recovery-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #2A59BD;
}
.recovery-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .recovery-password__form .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
  border-color: #2A59BD;
}
.recovery-password__form .mdc-notched-outline__notch .mdc-floating-label::after {
  display: none;
}
.recovery-password__form .error-icon {
  background: #fff;
  color: #b00020;
  display: none;
  text-align: right;
  margin-right: 16px;
  margin-top: 14px;
}
.recovery-password__form-button {
  border: none;
  background-color: #2A59BD;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  padding: 14px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease
}
.recovery-password__form-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease
}
.recovery-password__signin {
  display: flex;
  justify-content: center;
  column-gap: 4px;
}
.recovery-password__signin span {
  color: #77777A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
.recovery-password__signin a {
  color: #2A59BD;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
.recovery-password__error-message {
  display: none;
  color: #BA1A1A;
  padding-left: 16px;
  margin-top: -10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
@media ( max-width: 992px) {
  .recovery-password {
    padding: 80px 0;
  }
}
@media ( max-width: 576px) {
  .recovery-password {
    padding-top: 16px;
  }
  .recovery-password__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}ul.llms-notice.llms-error {
   padding: 0;
   background: transparent;
   border: none;
   text-align: center;
   color: red;
 }
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 20px;
  z-index: 1000;
  max-width: 90%;
}
.recovery-password__form .mdc-text-field__input {
  height: 27px;
font-size: 16px;
  position: relative;
  top: -4px;
}
