.Solutions_block{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #8A90A5;
}